@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.5;
  /* background-color: #ffffff; */
}

#root {
  font-size: 18px;
}

.highlight {
  padding-bottom: 0.25em;
  white-space: nowrap;
}

.highlight:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
  width: 0;
  z-index: -1;
}

.highlight-aqua:before {
  height: 20px;
  background-image: url('../assets/img/highlight/zigzag.svg');
  background-repeat: repeat-x;
  background-position-y: bottom;
  width: 100%;
  transition: width 0.5s ease-out;
}

/* Header */

.logo-img {
  height: 2rem;
}

header {
  top: -60px;
  transition: top 0.7s ease 0s;
  font-family: 'DM Serif Display', serif;
}

header nav * {
  color: #8e8d8a;
}

header.scrolled {
  top: 0px;
}

h1 {
  letter-spacing: 0.14em;
}

.Cursor {
  color: #ffffff;
  /* font-size: 7rem; */
}

/* Footer */

.korean {
  /* transform: translate(-10%, 50%);
  font-size: 20rem;
  letter-spacing: -5rem; */
  opacity: 0.2;
}

/* About */
.about {
  min-height: 80vh;
  background-image: linear-gradient(#eae7dc, #ffffff);
  color: #e85a4f;
}

.contact {
  min-height: 100vh;
}

@keyframes widthGrow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
